body{
	background-image: url('image/background.jpg');
	background-size: cover;
}

.main{
	position: relative;
	margin: 70px auto;
	height: 660px;
	width: 1000px;
	background-image: url('image/table.jpg');
	background-size: cover;
	border-radius: 25px;
	-webkit-box-shadow: 4px 0px 30px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 0px 30px 3px rgba(0,0,0,0.75);
	box-shadow: 4px 0px 30px 3px rgba(0,0,0,0.75);
}

.player-bar{
    position: absolute;
    width: 360px;
    height: 190px;
    bottom: -50px;
    right: 300px;
    border-radius: 15px;
}

.player-bar.pl-1{
 	bottom: -50px;
    right: 310px;
}

.player-bar.pl-2{
	transform: rotate(180deg);
 	top: -50px;
    right: 310px;
}

.player-bar.pl-2 .player-info .player-name{
	transform: rotate(180deg);
	position: relative;
	left: -35px;
}

.player-bar.pl-3{
	transform: rotate(90deg);
    bottom: 208px;
    right: 776px;
}

.player-bar.pl-4{
 	transform: rotate(-90deg);
    bottom: 208px;
    right: -135px;
}

.pl-2 .loader{
	transform: rotate(180deg);
	width: 65px;
}

.pl-3 .loader{
	transform: rotate(270deg);
    width: 60px;
    top: 4px;
}

.pl-4 .loader{
    transform: rotate(90deg);
    width: 60px;
    top: -4px;
}

.cards{
	position: relative;
	width: 100%;
	height: 140px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: flex;
	justify-content: center;
}

.player-info{
	position: relative;
	background-color: black;
	width: 100%;
	height: 50px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top: 1px white solid;
}

.player-name{
	/*position: relative;*/
    margin: 4px auto;
    display: flex;
    justify-content: center;
    color: white;
	line-height: 38px;
	width: 130px;
}

.player-name::before {
    position: relative;
    content: "";
    width: 38px;
    height: 38px;
    background-image: url('image/icon-player.png');
    background-size: 330%;
    left: -11px;
}

.pl-info{
	position: relative;
	float: left;
}

.loader{
	width: 115px;
	height: 100%;
	/*background-color: red;*/
}

.pl-icon-1::before{
	background-position: 0px 0px;
}

.pl-icon-2::before{
	background-position: -44px 0px;
}

.pl-icon-3::before{
	background-position: 0px -43px;
}

.pl-icon-4::before{
	background-position: -43px -43px;
}

.card-pl{
	margin-left: 4px;
    margin-top: 4px;
    position: relative;
    border-radius: 5px;
    width: 82px;
    height: 121px;
    /*background-color: white;*/
    right: 2px;
    cursor: pointer;
    background-image: url(image/cards.png);
    background-size: 1358%;
    background-position: -7px -5px;
}

.card-pl:hover{
	opacity: 0.9;
}

.board-cards{
	position: absolute;
    width: 670px;
    height: 360px;
    top: 150px;
    left: 165px;
}

.desc-cards{
    position: absolute;
    width: 82px;
    height: 121px;
    top: 40px;
    left: 109px;
    transform: rotate(-51deg);
    line-height: 113px;
    font-size: 43px;
    /*color: black;*/
    text-align: center;
    border-radius: 5px;
    background-position: -347px -502px;
}

/*.card-pl.table-1{
	position: absolute;
	background-color: black;
	transform: rotate(33deg);
	top: 99px;
    left: 331px;
}

.card-pl.table-2{
	position: absolute;
	background-color: black;
    transform: rotate(22deg);
    top: 50px;
    left: 244px;
}

.card-pl.table-3{
	position: absolute;
	background-color: black;
	transform: rotate(15deg);
    top: 99px;
    left: 403px;
}*/

.tb-card{
	/*background-color: black;*/
	position: absolute;
}

/*for test*/

/*.card-pl, .desc-cards, .tb-card{
	background-image: url('image/cardbg.jpg');
	background-size: cover;
}*/

.ClubsAce{
	background-position: -7px -5px;
}

.DiamondsAce{
	background-position: -7px -129px;
}

.HeartsAce{
	background-position: -7px -253px;
}

.SpadesAce{
	background-position: -7px -377px;
}

.Clubs_2{
	background-position: -90px -5px;
}

.Diamonds_2{
	background-position: -90px -129px;
}

.Hearts_2{
	background-position: -90px -253px;
}

.Spades_2{
	background-position: -90px -377px;
}

.Clubs_3{
	background-position: -175px -5px;
}

.Diamonds_3{
	background-position: -175px -129px;
}

.Hearts_3{
	background-position: -175px -253px;
}

.Spades_3{
	background-position: -175px -377px;
}

.Clubs_4{
	background-position: -260px -5px;
}

.Diamonds_4{
	background-position: -260px -129px;
}

.Hearts_4{
	background-position: -260px -253px;
}

.Spades_4{
	background-position: -260px -377px;
}

.Clubs_5{
	background-position: -345px -5px;
}

.Diamonds_5{
	background-position: -345px -129px;
}

.Hearts_5{
	background-position: -345px -253px;
}

.Spades_5{
	background-position: -345px -377px;
}

.Clubs_6{
	background-position: -430px -5px;
}

.Diamonds_6{
	background-position: -430px -129px;
}

.Hearts_6{
	background-position: -430px -253px;
}

.Spades_6{
	background-position: -430px -377px;
}

.Clubs_7{
	background-position: -515px -5px;
}

.Diamonds_7{
	background-position: -515px -129px;
}

.Hearts_7{
	background-position: -515px -253px;
}

.Spades_7{
	background-position: -515px -377px;
}

.Clubs_8{
	background-position: -600px -5px;
}

.Diamonds_8{
	background-position: -600px -129px;
}

.Hearts_8{
	background-position: -600px -253px;
}

.Spades_8{
	background-position: -600px -377px;
}

.Clubs_9{
	background-position: -685px -5px;
}

.Diamonds_9{
	background-position: -685px -129px;
}

.Hearts_9{
	background-position: -685px -253px;
}

.Spades_9{
	background-position: -685px -377px;
}

.Clubs_10{
	background-position: -770px -5px;
}

.Diamonds_10{
	background-position: -770px -129px;
}

.Hearts_10{
	background-position: -770px -253px;
}

.Spades_10{
	background-position: -770px -377px;
}

.ClubsJack{
	background-position: -855px -5px;
}

.DiamondsJack{
	background-position: -855px -129px;
}

.HeartsJack{
	background-position: -855px -253px;
}

.SpadesJack{
	background-position: -855px -377px;
}

.ClubsQueen{
	background-position: -940px -5px;
}

.DiamondsQueen{
	background-position: -940px -129px;
}

.HeartsQueen{
	background-position: -940px -253px;
}

.SpadesQueen{
	background-position: -940px -377px;
}

.ClubsKing{
	background-position: -1025px -5px;
}

.DiamondsKing{
	background-position: -1025px -129px;
}

.HeartsKing{
	background-position: -1025px -253px;
}

.SpadesKing{
	background-position: -1025px -377px;
}

.CardBack{
	background-position: -347px -502px;
}