$card-w: 78px;
$card-h: 110px;

body {
  background-image: url('../img/background.jpg');
  background-size: cover;
}

.x-room-table {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 80vh;
  width: 80vw;
  opacity: 0.95;
  filter: grayscale(100%) drop-shadow(0 25px 0 #404040);
  transform: rotate3d(1, 0, 0, 60deg);
  background-image: url('../img/table.jpg');
  background-size: cover;
  border-radius: 50%;
  border: solid 4px #473939;
  -webkit-box-shadow: 4px 0 30px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0 30px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 0 30px 3px rgba(0, 0, 0, 0.75);
}


