//$body-bg: rgba(0, 0, 0, 0.88);
//$body-color: #ececec;

@import '~bootstrap';


h1 {
  a {
    text-decoration: none;
    color: gray;
    transition: 300ms all;

    &:hover {
      text-decoration: none !important;
    }
  }
}
