$body-bg: rgb(16, 15, 15);
$body-color: white;

$offcanvas-bg-color: $body-bg;
$offcanvas-color: white;
$modal-content-color: white;
$modal-content-bg: $body-bg;

@import '~bootstrap';

h1 {
  a {
    text-decoration: none;
    color: gray;
    transition: 300ms all;

    &:hover {
      text-decoration: none !important;
    }
  }
}
